/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/
body {
	background-image: url("1.png")
}

#wrapper {
	background: none repeat scroll 0 0 transparent;
  margin: 10px auto auto;
  width: 90%;
}

#header {
  background: none repeat scroll 0 0 transparent;
	background-image: url("QuestionBank/app/assets/images/6.jpeg")
  border: 1px solid red;
	height: 100px;
}

#sign_in_out_div {
  border: 1px solid black;
  float: right;
  height: auto;
  width: 20%;
}

#content {
	 background: none repeat scroll 0 0 transparent;
    border: 1px solid yellow;
    display: inline;
    height: auto;
    margin: auto;
    width: 95%;
}

#dashboard { 
	border: medium solid;
  width: 45%;
  border: medium solid;
  margin: auto;
  width: 85%;
}

#dash_menu {
  background: none repeat scroll 0 0 transparent;
  border: medium solid border: medium solid;
  float: left;
  width: 45%;;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

#view_rand_question {
	border: medium solid;
	float: right;
	width: 45%;
}

#question_list {
	border: medium solid;
  float: left;
  width: 45%;
}

#footer {
	background: none repeat scroll 0 0 transparent;
  border: 1px solid green;
	height: 100px;
	margin-top: 15px;
  text-align: center;
}
