<% if user_signed_in? %>
  <li>
    <%if (current_user.role=='Super Admin')%>
      <%= render :template => 'orgainzations/index'%>
    <%elsif (current_user.role=='Admin')%>
      <%= render :template => 'rooms/index'%>
    <%else%>
      <%= render :template => 'occupy/index'%>
    <%end%>
    <%#= link_to('Logout', destroy_user_session_path, :method => :delete) %>
  </li>

<% else %>
  <li>
    <%= link_to('Login', new_user_session_path)  %>
  </li>

<% end %>
